.reviews {
    padding: 80px 0;
}


.reviews__cover {
    max-width: 100%;
    height: auto;
}

.reviews__wrap__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.reviews_wrap__review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.reviews__position-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reviews__content.content-review {
    font-style: italic;
}

.reviews__kate {
    color: var(--dark-deep-color);
}

.reviews__Kate-position {
    color: var(--dark-deep-color);
}


.reviews__content {
    margin-bottom: 24px;
    position: relative;
}

.reviews__content:before {
    content: url('../img/quote.svg');
    position: absolute;
    top: -20px;
    left: 0;
    width: 20px;
    height: auto;
    z-index: -1;
}

.visa_cover {
    max-width: 48px;
    margin-bottom: 8px;
}

.reviews__kate {
    font-weight: 600;
}

.reviews__Kate-position {
    font-weight: 300;
}

.reviews__content {
    font-style: italic;
}

.slider-pagination__wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.slider_item {
    width: 64px;
    height: 12px;
    background: var(--light-80-color);
    border-radius: 90px;
}

.pagination-item__selected {
    background: var(--blue-medium-light-color);
}


@media (min-width: 768px) {
    .reviews__wrap__content {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }

    .reviews__cover {
        max-width: 50%;
        height: auto;
    }


}

@media (min-width: 968px) {
    .reviews__wrap__content {
        display: flex;
        flex-direction: row;
        gap: 80px;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .reviews__cover {
        max-width: 448px;
        height: auto;
    }

    .reviews_wrap__review {
        max-width: 50%;
    }
}

@media (min-width: 1280px) {

}

